@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=M+PLUS+1p:wght@400;700;900&display=swap');

:root {
    --header-height: 3.5rem;

    --main-color: hsl(60, 24%, 58%);
    --main-color-light: hsl(60, 51%, 73%);
    --main-color-alt: hsl(60, 18%, 58%);
    --main-color-dark: hsl(60, 18%, 44%);
    --main-color-alt2: hsl(60, 24%, 44%);
    --title-color: hsl(0, 10%, 83%);
    --title-color-dark: hsl(180, 4%, 12%);
    --txtColor: hsl(180, 4%, 78%);
    --txtColor_light: ■hsl(180, 4%, 65%);
    --bgColor: hsla(34, 90%, 32%, 0.973);

    /*fonts*/
    --body-font: 'M PLUS 1p', sans-serif; 
    --second-font: 'Kaushan Script', cursive;
    --largest-size: 2rem;
    --larger-size: 1.5rem;
    --large-size: 1.25rem;
    --h1-size: 1.5rem;
    --h2-size: 1.25rem;
    --h3-size: 1rem;
    --normal-size: 0.938rem;
    --small-size: 0.813rem;
    --smaller-size: 0.75rem;
    --bold: 700;
    --black: 900;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}