@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=M+PLUS+1p:wght@400;700;900&display=swap');

:root {
    --header-height: 3.5rem;

    --main-color: hsl(60, 24%, 58%);
    --main-color-light: hsl(60, 51%, 73%);
    --main-color-alt: hsl(60, 18%, 58%);
    --main-color-dark: hsl(60, 18%, 44%);
    --main-color-alt2: hsl(60, 24%, 44%);
    --title-color: hsl(0, 10%, 83%);
    --title-color-dark: hsl(180, 4%, 12%);
    --txtColor: hsl(0, 0%, 0%);
    --txtColor_light: ■hsl(180, 4%, 65%);
    --bgColor: #F5F5DC;

    /*fonts*/
    --body-font: 'M PLUS 1p', sans-serif; 
    --second-font: 'Kaushan Script', cursive;
    --largest-size: 2rem;
    --larger-size: 1.5rem;
    --large-size: 1.25rem;
    --h1-size: 1.5rem;
    --h2-size: 1.25rem;
    --h3-size: 1rem;
    --normal-size: 0.938rem;
    --small-size: 0.813rem;
    --smaller-size: 0.75rem;
    --bold: 700;
    --black: 900;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
ul{
	list-style: none;

}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-size);
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 10%;
}

.logo img{
	max-width: 180px;
	height: auto;
	margin-right: 0;
}

.nav{
	display: flex;
}

.nav a{
	font-size: 16px;
	padding: 10px 20px;
	font-weight: 400;
	transition: all .42s ease;
	color: #2b2b2b;
}

.nav a:hover{
	color:hsl(60, 24%, 44%);

}

.nav-icons{
	display: flex;
	align-items: center;
}

.nav-icons i{
	margin-right: 20px;
	font-size: 25px;
	font-weight: 400;
	transition: all .42s ease;
	color:#2b2b2b;
}

.nav-icons i:hover{
	transform: scale(1.1);
	color:hsl(60, 24%, 44%);
}

#menu-icon{
	font-size: 35px;
	color: #2b2b2b;
	z-index: 10001;
}
header.sticky{
	background: var(--bgColor);
	padding: 20px 10%;
	box-shadow: 0px 0px 10px rgb(0 0 0/ 10%);
}


body{
    background-color: var(--bgColor);
    color: var(--txtColor);
}









 .flex-container {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.product-filter{
    display: flex;
}

.product-filter h1{
    flex-grow: 1;
}

.sort{
    display: flex;
}

.grid{
	margin: 1em 0;
	padding: 0;
	max-width: 30em;
	display: flex;
	flex-wrap: wrap;
  }
  
  .grid li{
	margin: 30px auto 0;
	padding: 20px 10px;
	background: #2c2c2c;
	position: relative;
	transition: 400ms;
	width: 100%;
	display: inline;

  }


  
  .prod-card-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .prod-name {
	margin-top: 1em;
	color:aliceblue;
  }
  
  .buttons {
	margin-top: 1em;
	text-align: right;
  }
  
  .grid a.moreinfo {
	color: #85baff;
	text-decoration: none;
	transition: 400ms;
  }
  
  .grid li a.moreinfo::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: ' ';
  }
  
  .grid:hover a.moreinfo,
  .gr9d:focus-within a.moreinfo {
	color: #CFE4FF;
  }
  
  .grid li:hover,
  .grid li:focus-within {
	background: #484848;
	box-shadow: 0px 3px 6px #000;
  }
  
  .prod-img {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	position: relative;
  }
  
  .prod-img img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .carousel-container{
    display: flex;
    width: 60%;
    margin: auto;
    border: 5px solid white;
    overflow: hidden; 
    position: relative; 
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 645px;
}

#prevBtn{
    position: absolute;
    top: 30%;
    z-index: 10;
    left: 22%;
    font-size: 30px;
    color: white;
    opacity: 1;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 30%;
    z-index: 10;
    right:22%;
    font-size: 30px;
    color: white;
    opacity: 1;
    cursor: pointer;
}

.moredetails{
	padding-top: 100px;
	padding-left: 150px;
}